body,
html {
  margin: 0;
}

html {
  height: 100%;
}

body {
  height: inherit;
  overflow: hidden;
  color: #2c2c2c;
}

h1,
h2,
h3,
p,
form {
  font-family: sans-serif;
  text-align: center;
}

.output-container {
  margin-top: 4rem;
}

button {
  display: block;
  width: 220px;
  margin: 30px auto 0;
  padding: 5px;
  font-size: 1.1rem;
  line-height: 2;
  background-color: #9f0f65;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

@media all and (max-height: 410px) {
  div {
    position: static;
  }
}

.phrase {
  font-weight: bold;
}

.output {
  font-style: italic;
}

.output p {
  cursor: pointer;
}

.stt {
  padding: 1rem;
}

.tts {
  padding: 1rem;
  background-color: #e6e6e6;
  border: 2px dashed #414141;
}